name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - run: go test ./... -count=1
      - run: go vet ./...
      - run: go test ./... -count=1 -race
      - run: go test ./... -count=1 -cover
      - run: go test -bench=. -benchmem ./... # opsiyonel (PR'da biraz yavaşlatır)

      - name: Fuzz (short)
        run: go test ./... -fuzz=FuzzParseString -fuzztime=10s


